
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #121216;
}
#App {
  width: 490px;
  height: 390px;
  padding: 4rem 22px 22px 22px;

  background: #334;
  border-radius: 6px;

  position: relative;

}
#App .title{
  color: #e1e1f9;
  text-align: center;
  
  display: grid;
  gap: 24px;
}
.title h1 {
  font-weight: 900;
}
form {
  padding-top: 24px;
}
form .form-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
form input {
  width: 70%;
  padding: 11px;

  color: #444;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;

  outline: none;
  border: 0;
  border-radius: 4px;
  
  background: #FFF;
}
form .controls {
  gap: 19px;
}
form .controls button{
  
  border: 0;
  padding: 11px;
  color: #fff;

  font-size: 1rem;
  font-weight: 550;
  border-radius: 4px;

  cursor: pointer;
}

form .controls button[type="submit"]{
  background: #11c346;
  width: 70%;
}
#game-message {
  padding-top: 3rem;

  top: 3rem;
  position: absolute;
  background: #fff;
  padding: 3rem;

  width: 38%;
  text-align: center;
  border-radius: 6px;

  color: #dc143c;
  font-size: 1.1rem;
  cursor: pointer;
}
#game-message.Hiden {
  display: none;
}
#game-message.Show {
  display: block;
  animation: appear .3s alternate;
}
@keyframes appear {
  0% {scale: 0; opacity: 0;}
}
#game-message.Allright {
  color: #11c346;
}
#game-message.Warning {
  color: #dc143c;
}
@media (max-width: 768px) {
  #game-message {
    width: 70%;
    top: 1.4rem;
  }
}
@media (max-width:  600px) {
  #game-message {
    width: 80%;
    top: 2rem;
  }
}
@media (max-width:  500px) {
  #game-message {
    width: 88%;
    top: 2rem;
  }
  #App {
    scale: .9;
  }
}
@media (max-width:  390px) {
  #game-message {
    width: 88%;
    top: 1rem;
  }
  #App {
    scale: .7;
  }
}